
@{
    ViewBag.Title = "Awesome";
    ViewBag.Name = "Hello, my name is Patrick";
    ViewBag.Body = "Welcome to my Site";
    ViewBag.Date = DateTime.Now;
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Body</h2>
<h3>@ViewBag.Date</h3>

