@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<html>
<head>
    <link href="~/Content/sitestyle.css" rel="stylesheet" type="text/css">
</head>
<body background="~/images/wallpaperfx.jpg">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    </body>
</html>