@{
    ViewBag.Title = "Login Failure";
}
<html>
<head>
    <title>Orders</title>
    <link href="~/Content/sitestyle.css" rel="stylesheet" type="text/css">
</head>
<body background="~/images/wallpaperfx.jpg">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>
    </body>
</html>