@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<html>
<head>
    <title>Orders</title>
    <link href="~/Content/sitestyle.css" rel="stylesheet" type="text/css">
</head>
<body background="~/images/wallpaperfx.jpg">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>

    </body>
</html>