
@{
    ViewBag.Title = "Here is my Schedule for Thursday";
}

<h1>@ViewBag.Title</h1>
<h3>10:00 - 10:50</h3>
<h5>
    CP135 Business Applications<br />
    Gority Sec 1<br />
    Room 19 IT3 (19)<br />
</h5>
<h3>11:00 - 11:50</h3>
<h5>
    CP134 Web Site Design<br />
    Liddick Sec 1<br />
    Room 11<br />
</h5>
<h3>12:00 - 12:50</h3>
<h5>
    Common Hour<br />
</h5>
<h3>1:00 - 1:50</h3>
<h5>
    IT208 .Net Framework<br />
    Liddick Sec 1<br />
    Room 11 IT3 (5)<br />
</h5>
<h3>2:00 - 2:50</h3>
<h5>
    CP129 Introduction to SQL Databases<br />
    Penning Sec 1<br />
    Room 18 IT3 (18)<br />
</h5>
<h3>3:00 - 4:05</h3>
<h5>
    IT230 Data Structures and Algorithms<br />
    Meyer Sec 1<br />
    Room 22 IT3 (13)<br />
</h5>

