body {
    background-color: #6D0000;
    margin: 0px;
}

.orderbody {
    background-color: antiquewhite;
    margin: 0px;
}

#container {
    margin: 0 auto;
    width: 1000px;
    height: auto;
    background-color: antiquewhite;
    background-image: url(~/D20-Alt-Red-Large.png);
    padding: 20px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: antiquewhite;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #6D0000;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: antiquewhite;
}

#center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
}


* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#button {
    background-color: #6D0000;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}

#dice {
    height: 251px;
    background-image: url(https://i.imgur.com/K9YWxOs.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px;
    margin: 10px auto;
    font-size: 44px;
    display: block;
}
